.nav-pills .pill-1 .nav-link {
  background-color: rgba(13, 149, 232, 0.8);
  color: white;
}

.nav-pills .pill-2 .nav-link {
  background-color: rgba(13, 149, 232, 0.8);
  color: white;
}

.nav-pills .pill-3 .nav-link {
  background-color: rgba(13, 149, 232, 0.8);
  color: white;
}
