.pageTitle {
  font-family: "Courier", "sans-serif";
  color: #1b2735;
  font-size: 50px;
  line-height: 1;
  letter-spacing: 2px;
  text-shadow: 5px 3px 8px rgba(0, 0, 0, 0.2);
}

.nav-pills .pill-1 .nav-link {
  background-color: rgba(13, 149, 232, 0.8);
  color: white;
}

.nav-pills .pill-2 .nav-link {
  background-color: rgba(13, 149, 232, 0.8);
  color: white;
}

.nav-pills .pill-3 .nav-link {
  background-color: rgba(13, 149, 232, 0.8);
  color: white;
}
